/* ---------------- sidelayout ----------------- */

html {
    overflow-y: scroll;
}

body {
    /*background-color: rgb(185, 185, 185);*/
    background-color: #173f4f;
}

#frame {
    width:62%;
    margin-right:19%;
    margin-left:19%;
    margin-top:5px;
    padding: 3px 10px 3px 10px; /* Note 0px padding right */
    border-style: solid;
    border-width: thin;
/*    border-color: #7D7D7D; */
    border-color: #4590D9;
    min-width: 620px;
   /* max-width: 850px;*/
    background:#FFFFFF;
}


#topLeft
{
    position: fixed;
    top: 5px;
    left: 1%;
    width: 17%;
    /*min-width: 170px;*/
    padding: 3px 3px 3px 3px;
    border-style: solid;
    border-width: thin;
    border-color: #989898;
    /*border-color: #7D7D7D;*/
    background: #F0EFEF;
    text-align: center; /* nuevo */
}


/* ------------ Tekst og links ------------ */


.indholdoverskrift {
	color: #7B7E81;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 9pt;
	padding-top: 3px;
	padding-bottom: 1px;
	/*line-height: 1.5; */
	/*text-decoration: underline;  */
	margin-bottom: 0px;
}

.indholdoverskriftb {
	color: #7B7E81;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 9pt;
	padding-bottom: 1px;
	/*line-height: 1.5; */
	/*text-decoration: underline;  */
	margin-bottom: 0px;
}

.indholdtekst {
/*	color: black;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 9pt;
	text-decoration: none;
	margin-bottom: 0px;*/
	color: #7B7E81;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 9pt;
	text-decoration: none;
	margin-bottom: 0px;
}

a.indholdtekst {
	color: #7B7E81;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 9pt;
	text-decoration: none;
	margin-bottom: 0px;
}

a.indholdtekst:link {
	color: #31363b; /*#7B7E81; */
	font-family: sans-serif;
	font-weight: normal;
	font-size: 9pt;
	text-decoration: none;
}

a.indholdtekst:visited {
	color: #7B7E81;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 9pt;
	text-decoration: none;
}

a.indholdtekst:active {
	color: #7B7E81;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 9pt;
	text-decoration: none;
}

a.indholdtekst:hover {
    color: #409040;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 9pt;
    }

.normal {
	color: black;
	font-family: serif;
	font-weight: normal;
	font-size: 12pt;
	text-decoration: none;
	margin-bottom: 0px;
}

.os1 {
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 22pt;
	text-decoration: none;
	border-bottom-color: #409040;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	margin-bottom: 3px;
/*	border-bottom-color: #6EB928;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	margin-bottom: 0px;*/
}

a.os1:link {
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 22pt;
	text-decoration: none;
	margin-bottom: 0px;
}

a.os1:visited {
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 22pt;
	text-decoration: none;
	margin-bottom: 0px;
}

a.os1:active {
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 22pt;
	text-decoration: none;
	margin-bottom: 0px;
}

a.os1:hover {
    color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 22pt;
	text-decoration: none;
	margin-bottom: 0px;
    }


.os2 {
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16pt;
	text-decoration: none;
	border-bottom-color: #409040;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	margin-bottom: 3px;
}


.os3 {
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 12pt;
	/*font-style: italic;*/
	text-decoration: none;
/*	border-bottom-color: #6EB928;
	border-bottom-style: dashed;
	border-bottom-width: 1px;*/
	margin-bottom: 3px;
}

.lille {
	color: #7B7E81;
	font-family: serif;
	font-weight: normal;
	font-size: 9pt;
	text-decoration: none;
	margin-bottom: 0px;
}

.lillebold {
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 9pt;
	text-decoration: none;
	margin-bottom: 0px;
}

.billedtekst {
	color: black;
	font-family: serif;
	font-weight: normal;
	font-size: 10pt;
	font-style: italic;
	margin-bottom: 0px;
	text-align: center;
}

.sti {
	color: #409040;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 11pt;
	/*font-style: italic;  */
	margin-bottom: 0px;
}


/* tabeller */

.tabel {
	color: black;
	font-family: serif;
	font-size: 10pt;
	text-decoration: none;
	margin-bottom: 0px;
	width:95%;
}


tr.d1 td {
	background-color: #E6E5E5; color: black;
}

/* links */

a:link {
	color: #409040;
	font-family: sans-serif;
	font-size: 11pt;
	text-decoration: none;
}

a:visited {
	color: #409040;
	font-family: sans-serif;
	font-size: 11pt;
	text-decoration: none;
}

a:active {
	color: #409040;
	font-family: sans-serif;
	font-size: 11pt;
	text-decoration: none;
}

a:hover {
	color: #409040;
	font-family: sans-serif;
	font-size: 11pt;
	text-decoration: underline;
}


/* ------------ Billeder --------- */


.pic {
	border-width:0px;
	border-color:#cccccc;
}


/* ------------ Bokse ------------ */


.cl {
        color: white;                /* text color is black */
	font-family: sans-serif;
	font-size: 10pt;
        background: black;            /* Content, padding will be gray */
        margin: 2px 50px 2px 2px;
        padding: 6px 6px 6px 6px; /* Note 0px padding right */
        list-style: none;             /* no glyphs before a list item */
        /* border-style: dashed;*/
        /*border-width: thin;  */      /* sets border width on all sides */
        /* border-color: white;*/

          }

.clroot {
        color: red;                /* text color is black */
	font-size: 10pt;
	font-family: sans-serif;
        background: black;            /* Content, padding will be gray */
        margin: 2px 50px 2px 2px;
        padding: 6px 6px 6px 6px; /* Note 0px padding right */
        list-style: none;             /* no glyphs before a list item */
        /*border-style: dashed; */
        /* border-width: thin; */       /* sets border width on all sides */
        /* border-color: red; */

          }

.obs {
        color: black;                /* text color is black */
        background: #FFFFCC;            /* Content, padding will be gray */
	font-size: 10pt;
	font-family: sans-serif;
        margin: 2px 75px 2px 75px;
        padding: 6px 6px 6px 6px; /* Note 0px padding right */
        list-style: none;             /* no glyphs before a list item */
        border-style: solid;
        border-width: thin;        /* sets border width on all sides */
        border-color: red;
          }

.tip {
        color: black;                /* text color is black */
	font-size: 10pt;
	font-family: sans-serif;
        background: #FFFFCC;            /* Content, padding will be gray */
        margin: 2px 75px 2px 75px;
        padding: 6px 6px 6px 6px; /* Note 0px padding right */
        list-style: none;             /* no glyphs before a list item */
        border-style: solid;
        border-width: thin;        /* sets border width on all sides */
        border-color: #A6A6A6;
	 }

.code {
        color: black;                /* text color is black */
	font-size: 8pt;
	font-family: sans-serif;
        background: #DCDCDC;            /* Content, padding will be gray */
        margin: 2px 200px 2px 2px;
        padding: 6px 6px 6px 6px; /* Note 0px padding right */
        list-style: none;             /* no glyphs before a list item */
        border-style: dashed;
        border-width: thin;        /* sets border width on all sides */
        border-color: #74BA24;
	 }


.oneclick {
        color: black;                /* text color is black */
	font-size: 10pt;
	font-family: sans-serif;
        background: #FFFFCC;            /* Content, padding will be gray */
        margin: 2px 125px 2px 125px;
        padding: 6px 6px 6px 6px; /* Note 0px padding right */
        list-style: none;             /* no glyphs before a list item */
        border-style: solid;
        border-width: thin;        /* sets border width on all sides */
        border-color: #A6A6A6;
          }

/* nuevo 2017-05-20 */

* {
   font-family: sans-serif;
   line-height: 150% !important;
}

p {
   text-align: justify;
}

kbd {
    padding: .0em .6em;
    border: 1px solid #ccc;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    border-radius: 3px;
    display: inline-block;
    margin: 0 .1em;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.4em;
    white-space: nowrap
}

/* 2. Cambiar a GNU/Linux */

.lista-software
{
   width: 98%;
   margin: 0 auto;
   border-collapse: collapse;
}

.lista-software th, .lista-software td
{
   padding: 5px 10px;
}

.lista-software th
{
   background-color: #eff0f1;
}

.lista-software td:nth-child(2), .lista-software th:nth-child(1)
{
   border-right: 1px solid #173f4f;
}

.lista-software ul
{
   padding-left: 0;
   list-style-type: none;
}

.ol-numero-negrita {
    counter-reset: item;
    padding-left: 0;
}

.ol-numero-negrita li { display: block; }

.ol-numero-negrita li:before {
    content: counter(item) ") ";
    counter-increment: item;
    font-weight: bold;
    float: left;
    padding-right: 0.5em;
}
